<!DOCTYPE html>
<html>
<head>
  <title>Quotes</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<header>
	<h1>#HardWork</h1>
	<p>Motivate A Friend</p>
	</header>
		<div class="container">
			<section>
				<%= yield %>
			</section>
		<footer>
			<nav>
				<ul>
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'About', '#' %></li>
					<li><%= link_to 'Contact', '#' %></li>
				</ul>
			</nav>
		</footer>
	</div>
</body>
</html>
